<div class="row">
  <div class="col-lg-9">
    <%= render 'shared/content_title', title: 'Please Log In' %>
  </div><!--end .col-lg-9 -->
</div><!-- end .row -->

<div class="row">
  <div class="col-lg-9">
    <%= form_tag '/login', class: 'session-form' do %>
      <div>
        <%= label_tag :username %>
        <%= text_field_tag :username, params[:username] || '', class: 'form-control' %>
      </div>

      <div>
        <%= label_tag :password %>
        <%= password_field_tag :password, params[:password] || '', class: 'form-control' %>
      </div>

      <%= submit_tag "Login", class: 'btn btn-primary' %>
    <% end %>
  </div><!--end .col-lg-9-->
</div><!--end .row-->

