<% post_title ||= false %>
<div class="row">
  <!-- Voting -->
  <% if logged_in? %>
    <div class="span0 well votes text-center">
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post', remote: true do %>
        <i class="icon-chevron-up"></i>
      <% end %>
      <span id="comment_<%= comment.id %>_votes"><%= comment.total_votes %></span>
      <br>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post', remote: true do %>
        <i class="icon-chevron-down"></i>
      <% end %>
    </div><!--end .well-->
  <% end %>
  <!-- end Voting-->
  <div class="well comment span8">
      <p>
      "<%= comment.body %>"
      <% if post_title %>
        on <%= link_to "#{comment.post.title}", post_path(comment.post) %>
      <% end %>
      <br>
      <span class="quiet">by </span><%= link_to comment.creator.username, user_path(comment.creator) %><small> at <%= convert_time(comment.created_at) %></small>
    </p>
  </div>
</div><!--end .row-->