<div class="row">
  <div class="col-lg-9">
    <%= form_for @user do |f| %>
      <div>
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div>
        <%= f.label :time_zone %>
        <%= f.time_zone_select( 'time_zone', ActiveSupport::TimeZone.us_zones, {default: Time.zone.name}, {class: 'form-control'} ) %>
      </div>
      <div>
        <%= f.label :phone %><i class="fa fa-info-circle" title="Enter your phone number here to enable Two-Factor Identification on your account."></i>
        <%= f.telephone_field :phone, maxlength: 10, class: 'form-control', placeholder: '1111111111' %>
      </div>

      <%= f.submit (@user.new_record? ? 'Register' : 'Update Profile'), class: 'btn btn-primary' %>
    <% end %>
  </div><!--end .col-lg-9-->
</div><!--end .row-->