<div class="row">
  <div class="col-lg-9">
    <%= form_for @user do |f| %>
      <div class="control-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>
      <div class="control-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="control-group">
        <%= f.label :time_zone %>
        <%= f.time_zone_select( 'time_zone', ActiveSupport::TimeZone.us_zones, default: Time.zone.name ) %>
      </div>
      <div class="control-group">
        <%= f.label :phone %>
        <%= f.telephone_field :phone, maxlength: 9   %>
      </div>

      <%= f.submit (@user.new_record? ? 'Register' : 'Update Profile'), class: 'btn btn-success' %>
    <% end %>
  </div><!--end .col-lg-9-->
</div><!--end .row-->