<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>


<div class="well">
  <dl class="dl-horizontal">
    <dt>Username:</dt>
    <dd><%= current_user.username %></dd>
    <dt>Timezone:</dt>
    <dd>placeholder</dd>
  </dl>
</div><!--end .well-->

<div>
  <h5><%= "#{@user.username}'s Activity" %></h5>

  <ul class="nav nav-tabs">
    <!--Posts tab, show by default-->
    <li class="<%= 'active' if params[:tab].nil? %>">
      <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
    </li>
    <!--Comments tab-->
    <!--pass in a 'tab' key, with 'comments' value to params when comments tab is clicked-->
    <li class="<%= 'active' if params[:tab] == 'comments' %>">
      <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
    </li>
  </ul>

  <% if params[:tab].nil? %><!--show posts by default-->
    <div class="posts">
      <%= render @user.posts %>
    </div>
  <% else %>
    <div class="comments">
      <% @user.comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment, post_title: true %>
      <% end %>
    </div>
  <% end %>
</div>