<div class="row">
  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">posted by <%= post.creator.username %></span>
      <small>at <%= convert_time(post.created_at) %></small>
      <span><%= link_to( "#{post.comments.size} comments", post_path(post) ) %></span>
    </p>
    <% if logged_in? %>
      <p>(<%= link_to( "edit post", edit_post_path(post) ) %>)</p>
    <% end %>
  </div><!--end .well-->
</div><!--end .row-->