<% content_for :body_class, "show-post" %>
<div class="row single-post">
  <div class="col-lg-9">
    <div class="post-header grid">
      <p class="edit">
        <% if logged_in? && (current_user == @post.creator || current_user.admin?) %>
          <%= link_to edit_post_path(@post) do %>
            <%= icon('pencil') %>
            <span>Edit Post</span>
          <% end %>
        <% end %>
      </p>

      <p class="categories"><%= render @post.categories %></p>
    </div><!-- end .post-header-->

    <%= render 'shared/content_title', title: @post.title %>

    <div class="description">
      <p><%= @post.description %></p>
    </div>
  </div><!--end .col-lg-9-->
</div><!--end .single-post-->

<!-- COMMENTS -->
<div class="row comment-list">
  <div class="col-lg-9">
    <h3 class="comment-heading">
      <% comment_num = @post.reload.comments.length %>
      <%= comment_num %> <%= comment_num == 1 ? 'Comment:' : 'Comments:' %>
    </h3>

    <% @post.reload.comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  </div><!-- end col-lg-9 -->
</div><!-- end comment-holder -->

<% if logged_in? %>
  <div class="row comment-form">
    <div class="col-lg-9">
      <%= render 'shared/errors', object: @comment %>

      <%= form_for [@post, @comment] do |f| %>
        <div>
          <%= f.label :body, 'Leave a comment:', class: 'comment-label' %>
          <%= f.text_area :body, rows: 5, class: 'form-control' %>
        </div>
        
        <%= f.submit 'Create comment', class: 'btn btn-primary' %>
      <% end %>
    </div><!-- end col-lg-9 -->
  </div><!-- end comment-form -->
<% end %>




