<div class="row">
  <div class="col-lg-9">
    <%= render 'shared/content_title', title: 'Dashboard' %>
  </div><!--end .col-lg-9 -->
</div><!-- end .row -->

<div class="row">
  <div class="col-lg-9">
    <%= form_tag '/admin/users', method: 'post', class: 'admin-user-form' do %>
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Role</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <%= fields_for "users[users_to_update][]", user, {index: user.id} do |f| %>
              <tr>
                <td><%= user.username %></td>
                <td>
                  <%= f.select(:role, [['user', 'user'],
                    ['moderator', 'moderator'], ['admin', 'admin']]) %>
                </td>
            <% end %><!-- end fields_for -->
                <td><%= check_box_tag("users[users_to_delete][]", user.id, false, {id: "check-#{user.id}", class: "delete-check"}) %></td>
              </tr>
          <% end %><!-- end @users loop -->
        </tbody>
      </table>
      <%= submit_tag "Update" %>
    <% end %>
  </div><!--end .col-lg-9-->
</div><!--end .row-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="Warning!" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Warning!</h4>
      </div>
      <div class="modal-body">
        <p>You have selected users to delete. Click Submit to continue or Close to cancel.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary modal-submit">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->