<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postit</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= yield :body_class %>">
    <div id="wrapper">
      <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <div id="logo">
            <%= link_to 'P', root_path %>
            <div></div>
          </div>

          <h1 class="site-name">PostIt</h1>

          <ul class="sidebar-nav">
            <% 
              categories = Category.all.sort_by{|cat|
                cat.name.capitalize
              }
            %>
            <% categories.each_with_index do |c, i| %>
              <% if i < 6 %>
                <li>
                  <%= link_to c.name.capitalize, category_path(c) %>
                </li>
              <% end %>

              <% if i > 6 %>
                <li>
                  <%= link_to c.name.capitalize, category_path(c), class: 'expanded-view-cat' %>
                </li>
              <% end %>
            <% end %>

            <% if Category.all.length > 6 %>
              <li>
                <a href="" class="view-cats">
                  View All <%= icon('sort-down') %>
                </a> 
              </li>

              <li>
                <a href="" class="hide-cats">
                  Show Less <%= icon('sort-up') %>
                </a> 
              </li>
            <% end %>
          </ul>

          <div id="user-buttons">
            <% if logged_in? %>
              <div class="user-options-wrapper">
                <%= link_to '', class: 'top-level user-options-button' do %>
                  <%= icon('gear') %>
                  <span><%= current_user.username %></span>
                <% end %>

                <div class="user-links-wrapper">
                  <ul class="user-links">
                    <li>
                      <%= link_to user_path(current_user) do %>
                        <%= icon('eye') %> View Profile
                      <% end %>
                    </li>
                    <li>
                      <%= link_to edit_user_path(current_user) do %>
                        <%= icon('pencil') %> Edit Profile
                      <% end %>
                    </li>
                    <% if current_user.admin? %>
                      <li>
                        <%= link_to admin_users_path do %>
                          <%= icon('briefcase') %> Dashboard
                        <% end %>
                      </li>
                    <% end %>
                    <% if current_user.moderator? %>
                      <li>
                        <%= link_to admin_categories_path do %>
                          <%= icon('briefcase') %> Dashboard
                        <% end %>
                      </li>
                    <% end %>
                    <li>
                      <%= link_to logout_path do %>
                        <%= icon('times') %> Logout
                      <% end %>
                    </li>
                  </ul><!--end .user-links-->
                </div><!-- end .user-links-wrapper-->
              </div><!-- end .user-options-wrapper -->

              <div class="new-options-wrapper">
                <%= link_to '', class: 'top-level new-options-button' do %>
                  <%= icon('plus') %>
                  <span>New</span>
                <% end %>
                  <div class="new-links-wrapper">
                    <ul class="new-links">
                      <li>
                        <%= link_to new_post_path do %>
                          <%= icon('edit') %> New Post
                        <% end %>
                      </li>
                      <% if current_user.moderator? || current_user.admin?%>
                        <li>
                          <%= link_to new_category_path do %>
                            <%= icon('th-large') %> New Category
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div><!-- .new-links-wrapper-->
              </div><!-- end .new-options-wrapper -->
            <% else %>
              <%= link_to register_path, class: 'top-level' do %>
                <%= icon('pencil-square-o') %>
                <span>Register</span>
              <% end %>

              <%= link_to login_path, class: 'top-level' do %>
                <%= icon('key') %>
                <span>Sign In</span>
              <% end %>
            <% end %>
          </div><!-- end #user-buttons -->
        </div><!-- #sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <%= render 'layouts/messages' %>
              </div><!-- end .col-lg-12 -->
            </div><!-- end .row -->

            <%= yield %>

          </div><!-- end .container-fluid -->
        </div><!-- end #page-content-wrapper -->
    </div><!-- end #wrapper -->
    <a href="" id="menu-toggle"><%= icon('navicon') %></a>
  </body>
</html>
